<style>
    .confirm-dialog-container{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        min-height:100vh;
        display:flex;
        flex-direction:column;
        align-items:center;
        background-color:rgba(0,0,0,0.5);
        z-index:2000;
    }

    .confirm-dialog{
        display: flex;
        flex-direction:column;
        justify-content:space-between;
        min-width:20rem;
        padding:2rem;
        border-radius:1rem;
        background-color:white;
        margin-top:1.5rem;
        position:fixed;
    }

</style>

@if (Show)
{
    <div class="confirm-dialog-container">
        <div class="confirm-dialog">
            <h3>
                Ви впевнені?
            </h3>
            <div class="d-flex flex-row justify-content-end mt-3"> 
                <button @onclick="OnCancel"
                    class="btn btn-secondary shadow-none">
                    Відмінити
                </button>
                <button @onclick="OnOk"
                    class="btn btn-danger shadow-none ms-3">
                    Видалити
                </button>
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public bool Show{ get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback OnOk { get; set; }

}
