@page "/edit/{id:int}"
@inject IEventRepository Repository
@inject NavigationManager Navigation

<PageTitle>Edit Event</PageTitle>

@if(Event != null)
{
    <div class="row justify-content-center">
        <div class="col-6">
            <EditForm Enhance="true" method="post" FormName="EditEventForm" OnValidSubmit="Edit_Event" Model="Event" autocomplete="off">
                <h3>
                   Редагувати подію @Id
                </h3>
                <input type="hidden" name="Event.Id" value="@Event.Id"/>
                <div class="mb-3">
                    <label for="category" class="form-label">
                        Категорія
                    </label>
                    <InputSelect id="category" @bind-Value="Event.Category" class="form-control shadow-none">
                        <option value="0">
                            Натисність для вибору категорії
                        </option>
                        @foreach (var category in Enum.GetValues(typeof(Category)))
                        {
                            <option value="@category">
                                @category.ToString()
                            </option>
                        }
                    </InputSelect>
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">
                        Назва події
                    </label>
                    <InputText id="title" @bind-Value="Event.Title" class="form-control shadow-none" />
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">
                        Місце
                    </label>
                    <InputText id="title" @bind-Value="Event.Venue" class="form-control shadow-none" />
                </div>

                <div class="mb-3">
                    <label for="meet-date" class="form-label">
                        Дата
                    </label>
                    <InputDate id="meet-date" @bind-Value="Event.PublicationDate" class="form-control shadow-none" />
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">
                        Опис
                    </label>
                    <InputText id="description" @bind-Value="Event.Description" class="form-control shadow-none" />
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary shadow-none">
                        Submit
                    </button>
                    <a href="/list-events" class="btn btn-secondary shadow-none ms-3">
                        Повернутись до списку подій
                    </a>
                </div>
                <DataAnnotationsValidator />
                <ValidationSummary />
            </EditForm>

        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Event? Event { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Event ??= await Repository.GetByIdAsync(Id);
    }

    private async Task Edit_Event()
    {
        if(Event != null)
        {
            await Repository.UpdateAsync(Event);
            Navigation.NavigateTo("/list-events");
        }
    }
}
