@page "/language"

<PageTitle>Language</PageTitle>

<h1>На жаль, поки що ця функція не реалізована :(</h1>

Було б круто якби я принаймні змогла підключити js...
Sorry, це все брак часу і моя недосвідченість :'(
